/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Indie Flower', cursive;
}
/* End of CSS Reset */
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Outfit&display=swap');

body{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

main{
   justify-content: center;
}